.DS_Store

storage/dataset/*
storage/configs/*
storage/filelists/*
storage/logs/*

storage/audio/*
!storage/audio/
!storage/audio/.gitkeep

storage/dataset_raw/*
!storage/dataset_raw/
!storage/dataset_raw/.gitkeep

storage/dataset_raw_raw/*
!storage/dataset_raw_raw/
!storage/dataset_raw_raw/.gitkeep
